<div class="container mt-5">
    <div class="row">
        <div class="col-4 profile-image">
            <a href="#">
                <img width="auto" height="500"  class="rounded float-left" src="../../assets/DAO_0009.00_00_01_20.Still007.jpg" alt="Image" />
            </a>
        </div>
        <div class="col-6 p-5 ml-5">
        <div class="card-body mx-auto">
            <h1>RANDRIAMORASOA </h1>
            <h1>Fetra Manase</h1>
          <h3 class="card-text">Full Stack Developer</h3>
          <div class="">
            <button type="button" class="btn btn-outline-success btn-lg m-2">Hire me</button>
            <button type="button" class="btn btn-outline-warning btn-lg">Download CV</button>
          </div>

          <div>
                <a class="btn btn-dark btn-round  btn-icon btn-lg" href="#" title="Follow me on Github">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a class="btn btn-dark btn-round  btn-icon btn-lg" href="#" title="Follow me on Github">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="btn btn-dark btn-round  btn-icon btn-lg" href="#" title="Follow me on Github">
                    <i class="fa fa-github"></i>
                </a>
          </div>
        </div>
      </div>
    </div>
</div>